:root {
  /* Colors */
  --primary-black: rgb(32, 32, 32);
  --dim-gray: rgb(56, 56, 56);
  --light-gray: rgb(80, 80, 80);
  --white: rgb(255, 255, 255);
}

/* Remove default browser styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Root font size */
}

/* Typography */

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
  box-sizing: inherit;
}

.screen-digit {
  font-size: 6.4rem;
  font-weight: 500;
}

/* Icons */

.icon::before {
  font: var(--fa-font-solid);
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.menu-icon::before {
  content: "\f0c9";
  font-size: 1.6em;
}

.del-icon::before {
  content: "\f55a";
  font-size: 1.6em;
}

/* 
** Button Styles
*/

/* Menu Bar Button */

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-button {
  width: 3rem;
  background: none;
  color: var(--white);
  opacity: 1;
}

.menu-button:hover {
  opacity: 0.8;
}

/* Alegbra buttons */

.btn {
  margin: 0;
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.calc__btn {
  font-size: 1.8rem;
  width: 24.5%;
  padding: 2.6rem 3.2rem;
  border-radius: 0.5rem;
  background-color: var(--dim-gray);
  color: var(--white);
}

/* Container styles */

.calc__root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-black);
}

.calc__container {
  display: block;
  width: 80%;
  height: 90%;
  max-height: fit-content;
  border: 1px solid orangered;
  background-color: var(--primary-black);
}

.calc__navigation {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 10%;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid limegreen;
}

.calc__screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 0 1.8rem 0 2rem;
  border: 1px solid blueviolet;
}

.calc__board {
  display: block;
  width: 100%;
  height: 70%;
  border: 1px solid yellow;
}

.board-btns {
  display: flex;
  width: 100%;
  padding: 2px;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
}
